<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeviceProperties</key>
	<dict>
		<key>Add</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x1,0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>#PP_PhmSoftPowerPlayTable</key>
				<data>
				QQMHAQBNAIEGAACaKAAAGQAAAACABgFADQMA6G4DABQA
				GQBNAKECmAIAALUBOwF3APkA3gEGAwAA0QIAACADOgNM
				EQIAUwcAAAAAAAABAgAAAAAAAAAACAAAAAAAAAAAAAAA
				BwACAAAAAAAFAAAAAAAAAAAAAAAAEO4CAAAAAAAAAv8A
				AAAAAAAD/wAAAAAAAAP/AAAAAAAAA/8AAAAAAAAD/wAA
				AAAAAAP/AAAAAAAAA/8AAAAAAAAgAwAAAAAAAFIDAAAA
				AAAAhAMAAAAAAAC2AwAAAAAAAOgDAAAAAAAAGgQAAAAA
				AABMBAAAAAAAAH4EAAAAAAAAAAiEAwAAAAAAAAL/AAAA
				AAAAA/8AAAAAAAAE/wAAAAAAAAX/AAAAAAAABv8AAAAA
				AAAH/wAAAAAAAAj/AAAAAAAAAQgAAAAwdQAAAAAAgAAA
				AAAB5v9g6gAAAAAAAAAAAAAC5v+QXwEAAAAAAAAAAAAD
				5v8YcwEAAAAAAAAAAAAE5v+ghgEAAAAAAAAAAAAF5v+w
				rQEAAAAAAAAAAAAG5v/A1AEAAAAAAAAAAAAHAACM5QEA
				AAAAAAAAAAAAAwAgAwAAzwMwdQAAAAAIUgMAAM8DoIYB
				AAAAC7YDAADPA5irAgAAAAAICAAAkOIAAPgkAQAY9gAA
				AAAAAKjeAAAJtP8Y9gAAgDgBAIgNAQAAAAAAAPoAAAqb
				/6AJAQAITAEA+CQBAAAAAABwEQEAC4L/KB0BAKhbAQBo
				PAEAAAAAAOAoAQAMaf/ILAEAYGcBAPBPAQAAAAAAaDwB
				AA03/4A4AQAYcwEAeGMBAAAAAAAITAEADgX/OEQBANB+
				AQAAdwEAAAAAAMBXAQAPAADwTwEAoIYBAKCGAQAAAAAA
				eGMBAAEXAAACACAAAAkDmAhEFhQehAPcBVQLlCoAZADk
				EtAHcAsCADwSeAB4AGQAeAB4AHgAZAABLjYAAASRAAAA
				hwCgAKAAAAAAAKAAVQAAAAAAXgACAGkAUABQAHMAcwBf
				AAAAkCCWAJAAAAYAAAAAAQYAAAECAAEBAgACAQIAAgEC
				AAIBAgACAQIBAwAQAAAAAAAAABAAAAAAAAACEAAAAAAA
				AAABAAAAAAA=
				</data>
				<key>#connector-count</key>
				<data>
				BQAAAA==
				</data>
				<key>#connector-priority</key>
				<data>
				BAEDAgY=
				</data>
				<key>connectors</key>
				<data>
				AAQAAAQDAAAAAQACEgQGAQAEAAAEAwAAAAEAAyIFBAMA
				CAAABAIAAAABAAQRAgECAAgAAAQCAAAAAQABIQMFBAAI
				AAAEAgAAAAEABQAAAwY=
				</data>
				<key>model</key>
				<string>Radeon Pro 580X</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
